.data-display {
    flex: auto;
    background-color: white;
    /* max-height: 500px; */
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.user-input {
    display: flex;
    justify-content: center;
    flex: 1;
}

.user-input button {
    margin: 5px;
    padding: 5px;
}

.user-input input {
    margin: 5px;
    padding: 5px;
}

.user-input form {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin: 5px 0;
    padding: 0px;
}

.user-input form input[type=submit] {
    margin: 5px;
    padding: 5px;
}

.user-input input[type=text] {
    flex: auto;
}

.hidden {
    visibility: hidden;
}

.table-options {
    display: flex;
    justify-content: space-around;
    flex: 3,1,1;
}

.table-options button {
    margin: 5px;
}

.data-table {
    overflow-y: auto;
    border-spacing: 10px;
    border-collapse: collapse;
    width: 100%;
}

.data-table  * {
    font-size: smaller;
}

.selected-row {
    background-color: lightgray;
}

#header-row {
    background-color: lightblue;
    font-size: small;
}