.data-holder {
    min-width: 60vw;
    min-height: 50vh;
    max-width: 75%;
    max-width: 700px;
    max-height: 80vh;
    background-color: rgba(11, 10, 58, 0.7);
    /* border: 2px solid rgb(0, 157, 255); */
    border-radius: 15px;
    padding: 15px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.data-holder > button {
    width: 25%;
    align-self: center;
    text-align: center;
    display: inline-block;
    padding: 5px;
    /* margin-top: 0; */
}