header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    max-height: 15vh;
    width: 100%;
}

img {
    object-fit: cover ;
    max-height: 15vh;
    border-radius: 10px;
}

button {
    margin: 20px;
}