header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    max-height: 15vh;
    width: 100%;
    min-width: 320px;
}

header > .logo > img {
    object-fit: cover ;
    height: 15vh;
    border-radius: 10px;
    transition: height 0.5s;
}

header > .logo > img:hover {
    height: 17vh;
}

button {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#home-button {
    justify-content: center;
    margin-left: auto;
}

#home-button img {
    padding: 5px;
}