input {
        outline: none;
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }

form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 10px;
    
    input:hover, input:focus {
        
        box-shadow: 2px 2px 5px midnightblue;
        outline: 0;
    }
    input[type="submit"] {
        text-align: center;
        background-color:midnightblue;
        color: white;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        border: none;
        cursor: pointer;
    } 
    input[type="submit"]:hover {
        background-color: indigo;
    }

    
}