.menu-option {
    background-color: rgba(241, 241, 244, 1);
    border: 1px solid transparent;
    border-radius: 15px;
    backdrop-filter: blur(7px);
    min-width: 25vw;
    padding: 20px;
    margin: 4px;
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;
    transition: border-color 0.5s;
    color: black;
}

.menu-option:hover {
    background-color: rgba(0,0,128,0.4);
    color: white;
    border-color: rgb(0, 157, 255);
}

a {
    text-align: center;
    justify-content: center;
    color: inherit;
    flex: auto;
    justify-self: flex-start;
}

img {
    background-color: white;
}