.menu {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vw;
    max-width: 75%;
    background-color: rgba(11, 10, 58, 0.7);
    /* border: 2px solid rgb(0, 157, 255); */
    border-radius: 15px;
    padding: 10px;
}